<h2>Lista de Torneos</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th> 
            <th>Municipio</th> 
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let torneo of torneos">
            <td>{{torneo.nombre}}</td>
            <td>{{torneo.categoria}}</td> 
            <td>{{torneo.fechaInicio}}</td>
            <td>{{torneo.fechaFin}}</td> 
            <td>{{torneo.municipio?.nombre}}</td> 
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarTorneo(torneo.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarTorneo(torneo.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelTorneo(torneo.id)" class="btn btn-primary">Detalles</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


