<div class="col-md-6 offset-md-3">
    <h2 class="text-center">Edicion de Municipio</h2>
    <form (ngSubmit)="onSubmit()" #municipioForm = "ngForm">
  
        <div class="form-group">
            <label><b>Nombre :</b></label>
            <input type="text"
            class="form-control form-control-sm"
            id="nombre"
            [(ngModel)] = "municipio.nombre"
            name="nombre"
            required
            minlength="4"
            maxlength="30"
            placerholder="Digite el nombre del municipio "
            #nombre = "ngModel"
            pattern="[a-zA-ZñÑ ]+$"
            >
                       
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors?.['required']">
                    Digite su nombre por favor
                </div> 
                <div *ngIf = "nombre.errors?.['minlength']" >
                    El nombre de minimo 4 caracteres
                </div>  
                <div *ngIf = "nombre.errors?.['maxlength']">
                    El nombre de maximo 30 caracteres
                </div>  
                <div *ngIf="nombre.errors?.['pattern']">
                    numeros no permitidos.
                </div>
            </div> 

        </div>
        <br>
        <button class="btn btn-success" >Guardar</button>
    </form>

</div>
