<h3>Detalles del Deportista</h3>
<div>
    <div>
        <label><b>ID : </b> {{ deportista.id }}</label>
    </div>
    <div>
        <label><b>Documento : </b> {{ deportista.documento }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ deportista.nombre }}</label>
    </div>
    <div>
        <label><b>Apellidos : </b> {{ deportista.apellidos }}</label>
    </div>
    <div>
        <label><b>Direccion : </b> {{ deportista.direccion }}</label>
    </div>
    <div>
        <label><b>Celular : </b> {{ deportista.celular }}</label>
    </div>
    <div>
        <label><b>Correo : </b> {{ deportista.correo }}</label>
    </div>
    <div>
        <label><b>Rh : </b> {{ deportista.rh }}</label>
    </div>
    <div>
        <label><b>Eps : </b> {{ deportista.eps }}</label>
    </div>
    <div>
        <label><b>Fecha de Nacimiento: </b> {{ deportista.fechaNacimiento }}</label>
    </div>
    <div>
        <label><b>Genero : </b> {{ deportista.genero }}</label>
    </div>
    <!--
    <div>
        <label><b>Equipo : </b> {{ deportista.equipo }}></label>
    </div> -->
</div>
