<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Equipo</h3>
    <form (ngSubmit)="onSubmit()" #equipoForm = "ngForm">

        <div class="form-group">
            <label>Nombre :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="nombre"
            [(ngModel)] = "equipo.nombre"
            name="nombre"
            required
            minlength="4"
            maxlength="30"
            placerholder="Digite el nombre "
            #nombre = "ngModel"
            >
            <!--            
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf = "nombre.errors.required" >
                    Digite su nombre por favor
                </div> 
                <div *ngIf = "nombre.errors.minlength" >
                    El nombre debe contener como minimo 4 caracteres
                </div>  
                <div *ngIf = "nombre.errors.maxlength" >
                    El nombre debe contener como maximo 10 caracteres
                </div>                
            </div> 
        -->

        </div>
    
        <div class="form-group">
            <label>Deporte :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="deporte"
            [(ngModel)] = "equipo.deporte"
            name="deporte"
            >
        </div>
    
        <div class="form-group">
            <label>Fecha de Creacion :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="fechaCreacion"
            [(ngModel)] = "equipo.fechaCreacion"
            name="fechaCreacion"
            >
        </div>

<!--
        <div class="form-group">
            <label>Patrocinador :</label>
            <input type="text"
            class="form-control form-control-smv"
            id="patrocinador"
            [(ngModel)] = "equipo.patrocinador"
            name="patrocinador"
            >
        </div>
-->
        <button class="btn btn-success">Guardar</button>
    </form>

</div>

