<h3>Detalles del patrocinador</h3>
<div>
    <div>
        <label><b>ID : </b> {{ patrocinador.id }}</label>
    </div>
    <div>
        <label><b>Identificacion : </b> {{ patrocinador.identificacion }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ patrocinador.nombre }}</label>
    </div>
    <div>
        <label><b>Direccion : </b> {{ patrocinador.direccion }}</label>
    </div>
    <div>
        <label><b>Telefono : </b> {{ patrocinador.telefono }}</label>
    </div>
    <div>
        <label><b>Tipo de Persona : </b> {{ patrocinador.tipoPersona }}</label>
    </div>
    <div>
        <label><b>Correo : </b> {{ patrocinador.correo }}></label>
    </div>
</div>
