<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Canchas</h3>
    <form (ngSubmit)="onSubmit()" #canchaForm = "ngForm">

        <div class="form-group">
            <label>Nombre :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="nombre"
            [(ngModel)] = "cancha.nombre"
            name="nombre"
            required
            minlength="4"
            maxlength="30"
            placerholder="Digite el nombre "
            #nombre = "ngModel"
            >
            <!--            
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf = "nombre.errors.required" >
                    Digite su nombre por favor
                </div> 
                <div *ngIf = "nombre.errors.minlength" >
                    El nombre debe contener como minimo 4 caracteres
                </div>  
                <div *ngIf = "nombre.errors.maxlength" >
                    El nombre debe contener como maximo 10 caracteres
                </div>                
            </div> 
        -->

        </div>
    
        <div class="form-group">
            <label>Disciplina :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="disciplina"
            [(ngModel)] = "cancha.disciplina"
            name="disciplina"
            >
        </div>
    
        <div class="form-group">
            <label>Cantidad de Espectadores :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="cantidadEspec"
            [(ngModel)] = "cancha.cantidadEspec"
            name="cantidadEspec"
            >
        </div>

        <div class="form-group">
            <label>Medidas :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="medidas"
            [(ngModel)] = "cancha.medidas"
            name="medidas"
            >
        </div>
<!--
        <div class="form-group">
            <label>Municipio :</label>
            <input type="text"
            class="form-control form-control-smv"
            id="municipio"
            [(ngModel)] = "torneo.municipio"
            name="municipio"
            >
        </div>
-->
        <button class="btn btn-success">Guardar</button>
    </form>

</div>


