<h2>Lista de Municipios</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let municipio of municipios">
            <td>{{municipio.nombre}}</td>
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarMunicipio(municipio.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarMunicipio(municipio.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelMunicipio(municipio.id)" class="btn btn-primary">Detalles</button>
                </div>             
            </td>
        </tr>
    </tbody>
</table>
