<h2>Lista de Canchas</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Disciplina</th>
            <th>Cantidad de Espectadores</th>
            <th>Medidas</th> <!--
            <th>Escenario</th> -->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let cancha of canchas">
            <td>{{cancha.nombre}}</td>
            <td>{{cancha.disciplina}}</td> 
            <td>{{cancha.cantidadEspec}}</td>
            <td>{{cancha.medidas}}</td> <!--
            <td>{{cancha.torneo}}</td> -->
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarCancha(cancha.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarTorneo(cancha.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelCancha(cancha.id)" class="btn btn-primary">Detalles</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
