<h3>Detalles de la Cancha</h3>
<div>
    <div>
        <label><b>ID : </b> {{ cancha.id }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{cancha.nombre }}</label>
    </div>
    <div>
        <label><b>Disciplina : </b> {{ cancha.disciplina }}</label>
    </div>
    <div>
        <label><b>Cantidad de Espectadores : </b> {{ cancha.cantidadEspec }}</label>
    </div>
    <div>
        <label><b>Medidas : </b> {{ cancha.medidas }}</label>
    </div> <!--
    <div>
        <label><b>Escenario : </b> {{ cancha.escenario }}></label>
    </div> -->
</div>
