<h3>Detalles del Arbitro</h3>
<div>
    <div>
        <label><b>ID : </b> {{ arbitro.id }}</label>
    </div>
    <div>
        <label><b>Documento : </b> {{ arbitro.documento }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ arbitro.nombre }}</label>
    </div>
    <div>
        <label><b>Apellidos : </b> {{ arbitro.apellidos }}</label>
    </div>
    <div>
        <label><b>Genero : </b> {{ arbitro.genero }}</label>
    </div>
    <div>
        <label><b>Celular : </b> {{ arbitro.deporte }}</label>
    </div>
    <div>
        <label><b>Deporte : </b> {{ arbitro.deporte }}</label>
    </div> <!--
    <div>
        <label><b>Colegio Arbitral : </b> {{ arbitro.colegioArbiral }}></label>
    </div> -->
</div>
