<h2>Lista de Patrocinadores</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Identificacion</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>tipoPersona</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let patrocinador of patrocinadores">
            <td>{{patrocinador.identificacion}}</td>
            <td>{{patrocinador.nombre}}</td>
            <td>{{patrocinador.direccion}}</td>
            <td>{{patrocinador.telefono}}</td>
            <td>{{patrocinador.tipoPersona}}</td>
            <td>{{patrocinador.correo}}</td>
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarPatrocinador(patrocinador.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarPatrocinador(patrocinador.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelPatrocinador(patrocinador.id)" class="btn btn-primary">Detalles</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


