<h2>Lista de Patrocinadores</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Identificacion</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>tipoPersona</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="h6">
        <tr *ngFor="let patrocinador of patrocinadores">
            <td>{{patrocinador.identificacion}}</td>
            <td>{{patrocinador.nombre}}</td>
            <td>{{patrocinador.direccion}}</td>
            <td>{{patrocinador.telefono}}</td>
            <td>{{patrocinador.tipoPersona}}</td>
            <td>{{patrocinador.correo}}</td>
            <td>
                <button (click)="actualizarPatrocinador(patrocinador.id)" class="btn btn-info btn-sm" style="margin-left : 8px">Editar</button>
                <button (click)="eliminarPatrocinador(patrocinador.id)" class="btn btn-danger btn-sm" style="margin-left : 8px">Eliminar</button>
                <button (click)="verDetallesDelPatrocinador(patrocinador.id)" class="btn btn-primary btn-sm" style="margin-left : 8px">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>


