<h2>Lista de Entrenadores</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>documento</th> 
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Genero</th>
            <!--
            <th>Equipo</th> -->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let entrenador of entrenadores">
            <td>{{entrenador.documento}}</td>
            <td>{{entrenador.nombre}}</td> 
            <td>{{entrenador.apellidos}}</td>
            <td>{{entrenador.genero}}</td> <!--
            <td>{{entrenador.equipo}}</td> -->
            <td>
                <button (click)="actualizarEntrenador(entrenador.id)" class="btn btn-info btn-sm" style="margin-left : 8px">Editar</button>
                <button (click)="eliminarEntrenador(entrenador.id)" class="btn btn-danger btn-sm" style="margin-left : 8px">Eliminar</button>
                <button (click)="verDetallesDelEntrenador(entrenador.id)" class="btn btn-primary btn-sm" style="margin-left : 8px">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>
