<h2>Lista de Entrenadores</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>documento</th> 
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Genero</th>
            <!--
            <th>Equipo</th> -->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let entrenador of entrenadores">
            <td>{{entrenador.documento}}</td>
            <td>{{entrenador.nombre}}</td> 
            <td>{{entrenador.apellidos}}</td>
            <td>{{entrenador.genero}}</td> <!--
            <td>{{entrenador.equipo}}</td> -->
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarEntrenador(entrenador.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarEntrenador(entrenador.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelEntrenador(entrenador.id)" class="btn btn-primary">Detalles</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
