<h2>Detalles del Torneo</h2>
<div>
    <div>
        <label><b>ID : </b> {{ torneo.id }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ torneo.nombre }}</label>
    </div>
    <div>
        <label><b>Categoria : </b> {{ torneo.categoria }}</label>
    </div>
    <div>
        <label><b>Fechad de inicio : </b> {{ torneo.fechaInicio }}</label>
    </div>
    <div>
        <label><b>Fecha de finalizacion : </b> {{ torneo.fechaFin }}</label>
    </div> 
    <div>
        <label><b>Municipio : </b> {{ torneo.fk_municipio }} </label>
    </div>
</div>
