<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edicion de Entrenador</h3>
    <form (ngSubmit)="onSubmit()" #entrenadorForm = "ngForm">
  
        <div class="form-group">
            <label>Documento :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="documento"
            [(ngModel)] = "entrenador.documento"
            name="documento"
            required
            minlength="5"
            maxlength="50"
            placerholder="Digite la categoria "
            #documento = "ngModel" 
            >
        </div>

        <div class="form-group">
            <label>Nombre :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="nombre"
            [(ngModel)] = "entrenador.nombre"
            name="nombre"
            required
            minlength="4"
            maxlength="10"
            placerholder="Digite el nombre "
            #nombre = "ngModel"
            >
            <!--            
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf = "nombre.errors.required" >
                    Digite su nombre por favor
                </div> 
                <div *ngIf = "nombre.errors.minlength" >
                    El nombre debe contener como minimo 4 caracteres
                </div>  
                <div *ngIf = "nombre.errors.maxlength" >
                    El nombre debe contener como maximo 10 caracteres
                </div>                
            </div> 
        -->

        </div>
    
        <div class="form-group">
            <label>Apellidos :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="apellidos"
            [(ngModel)] = "entrenador.apellidos"
            name="apellidos"
            required
            minlength="5"
            maxlength="50"
            placerholder="Digite los apellidos "
            #apellidos = "ngModel" 
            >
        </div>
    
        <div class="form-group">
            <label>Genero :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="genero"
            [(ngModel)] = "entrenador.genero"
            name="genero"
            required
            minlength="10"
            maxlength="20"
            placerholder="Digite el genero "
            #genero = "ngModel" 
            >
        </div>

<!--
        <div class="form-group">
            <label>Equipo :</label>
            <input type="text"
            class="form-control form-control-sm"
            id="equipo"
            [(ngModel)] = "entrenador.equipo"
            name="equipo"
            required
            minlength="3"
            maxlength="12"
            placerholder="Digite el equipo "
            #equipo = "ngModel" 
            >
        </div>
-->
        <button class="btn btn-success" >Guardar</button>
    </form>

</div>



