<h2>Lista de Deportistas</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>RH</th>
            <th>EPS</th>
            <th>Fecha de Nacimiento</th> 
            <th>Genero</th>      <!--
            <th>Municipio</th> -->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let deportista of deportistas">
            <td>{{deportista.documento}}</td>
            <td>{{deportista.nombre}}</td> 
            <td>{{deportista.apellidos}}</td>
            <td>{{deportista.direccion}}</td> 
            <td>{{deportista.celular}}</td>
            <td>{{deportista.correo}}</td>
            <td>{{deportista.rh}}</td>
            <td>{{deportista.eps}}</td> 
            <td>{{deportista.fechaNacimiento}}</td>
            <td>{{deportista.genero}}</td> <!--
            <td>{{deportista.equipo}}</td> -->
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarDeportista(deportista.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarDeportista(deportista.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelDeportista(deportista.id)" class="btn btn-primary">Detalles</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
