<h2>Lista de Escenarios</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th> <!--
            <th>Torneo</th>-->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let escenario of escenarios">
            <td>{{escenario.nombre}}</td>
            <td>{{escenario.direccion}}</td> 
            <td>{{escenario.telefono}}</td> <!--
            <td>{{escenario.torneo}}</td> -->
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarEscenario(escenario.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarEscenario(escenario.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelEscenario(escenario.id)" class="btn btn-primary">Detalles</button>
                </div>
            </td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>
