<h2>Lista de Escenarios</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th> <!--
            <th>Torneo</th>-->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let escenario of escenarios">
            <td>{{escenario.nombre}}</td>
            <td>{{escenario.direccion}}</td> 
            <td>{{escenario.telefono}}</td> <!--
            <td>{{escenario.torneo}}</td> -->
            <td>
                <button (click)="actualizarEscenario(escenario.id)" class="btn btn-info btn-sm" style="margin-left : 8px">Editar</button>
                <button (click)="eliminarEscenario(escenario.id)" class="btn btn-danger btn-sm" style="margin-left : 8px">Eliminar</button>
                <button (click)="verDetallesDelEscenario(escenario.id)" class="btn btn-primary btn-sm" style="margin-left : 8px">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>
