<h2>Lista de Arbitros</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Genero</th>
            <th>Celular</th>
            <th>Deporte</th> <!--
            <th>Municipio</th> -->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let arbitro of arbitros">
            <td>{{arbitro.documento}}</td> 
            <td>{{arbitro.nombre}}</td>
            <td>{{arbitro.apellidos}}</td> 
            <td>{{arbitro.genero}}</td> 
            <td>{{arbitro.celular}}</td>
            <td>{{arbitro.deporte}}</td> <!--
            <td>{{torneo.municipio}}</td> -->
            <td width="15%">  
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                    <button (click)="actualizarArbitro(arbitro.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarArbitro(arbitro.id)" class="btn btn-danger">Eliminar</button>
                    <button (click)="verDetallesDelArbitro(arbitro.id)" class="btn btn-primary">Detalles</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

