<h2>Lista de Arbitros</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Genero</th>
            <th>Celular</th>
            <th>Deporte</th> <!--
            <th>Municipio</th> -->
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody class="h8">
        <tr *ngFor="let arbitro of arbitros">
            <td>{{arbitro.documento}}</td> 
            <td>{{arbitro.nombre}}</td>
            <td>{{arbitro.apellidos}}</td> 
            <td>{{arbitro.genero}}</td> 
            <td>{{arbitro.celular}}</td>
            <td>{{arbitro.deporte}}</td> <!--
            <td>{{torneo.municipio}}</td> -->
            <td>
                <button (click)="actualizarArbitro(arbitro.id)" class="btn btn-info btn-sm" style="margin-left : 8px">Editar</button>
                <button (click)="eliminarArbitro(arbitro.id)" class="btn btn-danger btn-sm" style="margin-left : 8px">Eliminar</button>
                <button (click)="verDetallesDelArbitro(arbitro.id)" class="btn btn-primary btn-sm" style="margin-left : 8px">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>

