<h3>Detalles del Colegio Arbitral</h3>
<div>
    <div>
        <label><b>ID : </b> {{colegioArbitral.id }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ colegioArbitral.nombre }}</label>
    </div>
    <div>
        <label><b>Resolucion : </b> {{ colegioArbitral.resolucion }}</label>
    </div>
    <div>
        <label><b>Direccion : </b> {{ colegioArbitral.direccion }}</label>
    </div>
    <div>
        <label><b>Telefono : </b> {{ colegioArbitral.telefono }}</label>
    </div>
    <div>
        <label><b>Correo : </b> {{ colegioArbitral.correo }}></label>
    </div>
</div>
